a
{
  transition: all, .5s, ease-in-out;
  text-decoration: none;
  color: $black;

  & :hover
  {
    transition: all, .5s, ease-in-out;
    color: $secondary;
  }
}

.menu
{
  width: 18.750em;
  position: fixed;
  background-color: $white;
  right: 0;
  top: 10%;
  display: none;
  z-index: $menu;
}

.nav-list
{
  margin-top: 40%;
  margin-left: 15%;
  margin-bottom: 40%;

  & a
  {
    font-size: 180%;
  }}

.nav-item
{
  margin-bottom: 1%;
  & a:hover
  {
    color: $secondary;
  }
}

.current
{
  color: $secondary;
}

.menu-hover
{
  background: $secondary!important;
}

.work-more
{
  margin-bottom: 4em;
  margin-top: 4em;
  z-index: $animate;
  & h2{
    @include bp(D)
    {
      font-size: 400%;
    }
    @include bp(C)
    {
      font-size: 350%;
    }
    @include bp(B)
    {
      font-size: 255%;
    }
    @include bp(AA)
    {
      font-size: 220%;
    }
    @include bp(AAA)
    {
      font-size: 175%;
    }
    @include bp(AAAA)
    {
      font-size: 150%;
    }
  }
}

.blog-menu
{
  display: block;
  width: 20%;
  height: 10em;
  margin: .5%;
  padding: 1%;
  color: $white;
  opacity: .8;
  @include bp(AAA)
  {
    width: 40%;
    height: 2em;
  }
  &:hover
  {
    opacity: 1;
  }
  & h2
  {
    color: $white;
  }
  & p
  {
    color: $white;
  }

}

.article-category
{
  text-align: center;
  font-size: 200%;
}

.article-title
{
  text-align: center;
  font-size: 250%;
}

.php-link a:hover
{
  color: $php;
}

.html-link a:hover
{
  color: $html;
}

.css-link a:hover
{
  color: $css;
}

.javascript-link a:hover
{
  color: $javascript;
}

.design-link a:hover
{
  color: $design;
}

.seo-link a:hover
{
  color: $seo;
}

.business-link a:hover
{
  color: $business;
}

.news-link a:hover
{
  color: $news;
}





