.blog-container
{
  width: 80%;
  align-self: center;
  flex-wrap: wrap;
  padding-top: 2%;
}

.php
{
  background-color: $php;
}

.html
{
  background-color: $html;
}

.css
{
  background-color: $css;
}

.javascript
{
  background-color: $javascript;
}

.design
{
  background-color: $design;
}

.seo
{
  background-color: $seo;
}

.business
{
  background-color: $business;
}

.news
{
  background-color: $news;
}
